<template>
	<v-container>
		<v-row class="text-center">
			<v-col cols="12">
				<v-card class="mx-auto my-12">
					<v-card-title
						><p>{{ name }}</p>
						<v-chip>{{ birthday }}</v-chip></v-card-title
					>

					<v-divider class="mx-4"></v-divider>
					<v-card-text>
						{{ bio }}
					</v-card-text>

					<v-card-actions>
						<v-btn color="deep-purple lighten-2" text @click="explore(id, name)"> Explore </v-btn>
					</v-card-actions>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
export default {
	name: 'Director',

	beforeRouteLeave(to, from, next) {
		if (to.name === 'Movies') {
			to.meta.keepAlive = true;
		}
		next();
	},

	data: () => ({
		id: '',
		name: '',
		bio: '',
		birthday: '',
	}),

	methods: {
		explore(id, name) {
			console.log(id);
			console.log(name);
			const fromattedName = name.toLowerCase().split(' ').join('-');
			console.log(fromattedName);
			window.open(`https://www.themoviedb.org/person/${id}-${fromattedName}`);
		},
	},

	created() {
		(this.id = localStorage.getItem('id')),
			(this.name = localStorage.getItem('name')),
			(this.bio = localStorage.getItem('bio')),
			(this.birthday = localStorage.getItem('birthday'));
	},

	destroyed() {
		localStorage.removeItem('id');
		localStorage.removeItem('name');
		localStorage.removeItem('bio');
		localStorage.removeItem('birthday');
	},
};
</script>

<style lang="scss" scoped></style>
