<template>
	<v-container>
		<v-row class="text-center">
			<v-col cols="12">
				<v-img :src="logo" class="my-3" contain height="200" />
			</v-col>
		</v-row>

		<v-row class="text-center">
			<v-col cols="12">
				<v-form>
					<v-text-field prepend-icon="mdi-magnify" v-model="search" placeholder="Search..."></v-text-field>
				</v-form>
			</v-col>
		</v-row>

		<v-container class="grey lighten-5 mb-6">
			<v-row v-if="search == ''">
				<v-col
					xl="4"
					lg="4"
					md="4"
					sm="5"
					xs="3"
					v-for="item in movies"
					:key="item.tmdbId"
					:class="{ active: isActive }"
				>
					<v-card class="mx-auto" max-width="344" min-height="25em" :class="[item.releaseDate, item.directorName]">
						<v-img :src="item.posterUrl" height="200px"></v-img>
						<v-card-title
							v-if="item.title == 'The Lord of the Rings: The Return of the King'"
							style="font-size: 1em"
							class="justify-center"
						>
							{{ reduceTitle(item.title) }}...
						</v-card-title>
						<v-card-title v-else style="font-size: 1em" class="justify-center"> {{ item.title }} </v-card-title>

						<v-card-subtitle>
							Rating: {{ item.tmdbVoteAvarage }} - {{ reduceString(item.releaseDate) }} - {{ item.length }} minutes
						</v-card-subtitle>

						<v-card-actions style="margin-top: 2.5em">
							<v-btn color="orange" :href="item.tmdbUrl" target="_blank"> Explore</v-btn>
							<v-spacer></v-spacer>

							<v-btn
								color="green  "
								@click="navigateToDirector(item.directorId, item.directorName, item.directorBio, item.directorBirthday)"
							>
								Director</v-btn
							>
							<v-spacer></v-spacer>

							<v-btn color="blue" @click="purchase(item.releaseDate, item.directorName)"> Buy</v-btn>

							<v-spacer></v-spacer>
							<v-btn v-if="selectedIndex == null" icon @click="selectedIndex = item.tmdbId">
								<v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
							</v-btn>
							<v-btn v-if="selectedIndex != null" icon @click="selectedIndex = null">
								<v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
							</v-btn>
						</v-card-actions>

						<v-expand-transition>
							<div v-show="item.tmdbId === selectedIndex">
								<v-divider></v-divider>

								<v-card-text>
									{{ item.overview }}
								</v-card-text>
								<div class="genrescontainer">
									<div class="genre" v-for="genre in item.genres" :key="genre.id">
										<v-chip close-icon="mdi-delete" color="purple"
											><p>{{ JSON.parse(genre).name }}</p></v-chip
										>
									</div>
								</div>
							</div>
						</v-expand-transition>
					</v-card>
				</v-col>
			</v-row>
			<v-row v-if="search != ''">
				<v-col cols="4" v-for="item in filteredMovies" :key="item.tmdbId" :class="{ active: isActive }">
					<v-card class="mx-auto" max-width="344" min-height="25em" :class="[item.releaseDate, item.directorName]">
						<v-img :src="item.posterUrl" height="200px"></v-img>
						<v-card-title
							v-if="item.title == 'The Lord of the Rings: The Return of the King'"
							style="font-size: 1em"
							class="justify-center"
						>
							{{ reduceTitle(item.title) }}...
						</v-card-title>
						<v-card-title v-else style="font-size: 1em" class="justify-center"> {{ item.title }} </v-card-title>

						<v-card-subtitle>
							Rating: {{ item.tmdbVoteAvarage }} - {{ reduceString(item.releaseDate) }} - {{ item.length }} minutes
						</v-card-subtitle>

						<v-card-actions style="margin-top: 2.5em">
							<v-btn color="orange lighten-2" :href="item.tmdbUrl" target="_blank"> Explore</v-btn>
							<v-spacer></v-spacer>

							<v-btn
								color="green  "
								@click="navigateToDirector(item.directorId, item.directorName, item.directorBio, item.directorBirthday)"
							>
								Director</v-btn
							>
							<v-spacer></v-spacer>

							<v-btn color="blue lighten-2" @click="purchase(item.releaseDate, item.directorName)"> Buy</v-btn>

							<v-spacer></v-spacer>
							<v-btn v-if="selectedIndex == null" icon @click="selectedIndex = item.tmdbId">
								<v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
							</v-btn>
							<v-btn v-if="selectedIndex != null" icon @click="selectedIndex = null">
								<v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
							</v-btn>
						</v-card-actions>

						<v-expand-transition>
							<div v-show="item.tmdbId === selectedIndex">
								<v-divider></v-divider>

								<v-card-text>
									{{ item.overview }}
								</v-card-text>
								<div class="genrescontainer">
									<div class="genre" v-for="genre in item.genres" :key="genre.id">
										<v-chip close-icon="mdi-delete" color="purple"
											><p>{{ JSON.parse(genre).name }}</p></v-chip
										>
									</div>
								</div>
							</div>
						</v-expand-transition>
					</v-card>
				</v-col>
			</v-row>
		</v-container>
	</v-container>
</template>

<script>
import logo from '../assets/image.svg';
import { mapState } from 'vuex';
export default {
	name: 'Movies',

	beforeRouteLeave(to, from, next) {
		from.meta.keepAlive = false;
		next();
	},

	data: () => ({
		search: '',
		logo,
		show: false,
		bought: false,
		Name: '',
		selectedIndex: null,
		isActive: false,
	}),

	methods: {
		purchase(date, name) {
			let splittedName = name.split(' ');
			const elements = this.$el.querySelectorAll('.v-card');
			elements.forEach(element => {
				if (element.classList.contains(date) && element.classList.contains(splittedName[0])) {
					element.classList.add('active');
				} else {
					element.classList.remove('active');
				}
			});
		},

		reduceString: function (value) {
			console.log(value);
			if (!value) return '';
			return value.substring(0, 10);
		},

		reduceTitle: function (value) {
			console.log(value);
			if (!value) return '';
			return value.substring(0, 15);
		},

		navigateToDirector(id, name, bio, birthday) {
			localStorage.setItem('id', id);
			localStorage.setItem('name', name);
			localStorage.setItem('bio', bio);
			localStorage.setItem('birthday', birthday);
			this.$router.push('director');
		},
	},

	computed: {
		...mapState({
			movies: state => state.views.movies,
		}),
		filteredMovies() {
			return this.movies.filter(movie => {
				return movie.title.toLowerCase().match(this.search);
			});
		},
		// Other properties
	},

	created() {
		this.$store.dispatch('getAllMovies');
	},
};
</script>

<style lang="scss" scoped>
.genrescontainer {
	display: flex;
}

.genre {
	padding: 5px;
}

.active {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
</style>
