<template>
	<v-app>
		<v-main>
			<router-view v-slot="{ Component }">
				<!-- keeps alive Movies component , no fetching data again   -->
				<keep-alive include="Movies">
					<component :is="Component" />
				</keep-alive>
			</router-view>
		</v-main>
	</v-app>
</template>

<script>
import Movies from './components/Movies.vue';

export default {
	name: 'App',

	components: {
		Movies,
	},

	data: () => ({
		//
	}),
};
</script>
